app = 'grok2api'
primary_region = 'sin'

[build]

[env]
  LOG_LEVEL = 'INFO'
  SERVER_PORT = '8000'
  SERVER_WORKERS = '1'
  SERVER_STORAGE_TYPE = 'local'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'grok2api_data'
  destination = '/app/data'
